In [2]:
from author_style.utils import *
import tensorflow

In [20]:
import numpy as np
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer

## Faire un test avec deux auteurs

In [3]:
df = csv_to_dataframes(output="p").query("author == 'GARY Romain' | author == 'SARRAUTE Nathalie'")

IndexError: list index out of range

In [5]:
df

,text,author,title,book_date
300,1907. Son père quitte Ivanovo pour aller à Par...,SARRAUTE Nathalie,Le mensonge,1966
301,1 Cette didascalie n'était ni dans l'édition p...,SARRAUTE Nathalie,Le mensonge,1966
302,6 Nathalie Sarraute fit des études de droit et...,SARRAUTE Nathalie,Le mensonge,1966
303,"1923. Durant l'été, Nathalie fait l'ascension ...",SARRAUTE Nathalie,Le mensonge,1966
304,Se détourner de l'objet. Se fixer sur l'humain...,SARRAUTE Nathalie,Le mensonge,1966
...,...,...,...,...
18349,"Lui, comme il est prudent. Comme il se tient e...",SARRAUTE Nathalie,Portrait d_un inconnu,1948
18350,"Parfois, incapable de le contenir, il le laiss...",SARRAUTE Nathalie,Portrait d_un inconnu,1948
18351,Immobile comme une grosse araignée dans sa toi...,SARRAUTE Nathalie,Portrait d_un inconnu,1948
18352,Mais le masque ne se laisse pas faire. Il ne s...,SARRAUTE Nathalie,Portrait d_un inconnu,1948
18353,"Ils étaient, épars à travers le monde, des poi...",SARRAUTE Nathalie,Portrait d_un inconnu,1948

In [7]:
data = df.drop(["book_date","title"], axis=1)

In [9]:
data.author = data.author.map({
    "SARRAUTE Nathalie" : 0,
    "GARY Romain" : 1
})

In [10]:
data

,text,author,title
300,1907. Son père quitte Ivanovo pour aller à Par...,0,Le mensonge
301,1 Cette didascalie n'était ni dans l'édition p...,0,Le mensonge
302,6 Nathalie Sarraute fit des études de droit et...,0,Le mensonge
303,"1923. Durant l'été, Nathalie fait l'ascension ...",0,Le mensonge
304,Se détourner de l'objet. Se fixer sur l'humain...,0,Le mensonge
...,...,...,...
18349,"Lui, comme il est prudent. Comme il se tient e...",0,Portrait d_un inconnu
18350,"Parfois, incapable de le contenir, il le laiss...",0,Portrait d_un inconnu
18351,Immobile comme une grosse araignée dans sa toi...,0,Portrait d_un inconnu
18352,Mais le masque ne se laisse pas faire. Il ne s...,0,Portrait d_un inconnu
18353,"Ils étaient, épars à travers le monde, des poi...",0,Portrait d_un inconnu

### Checker la taille des phrases

In [ ]:
data["taille"] = data.text.apply(lambda x : len(x))

In [34]:
data

                                                    text  author  taille
300    1907. Son père quitte Ivanovo pour aller à Par...       0    1109
301    1 Cette didascalie n'était ni dans l'édition p...       0     912
302    6 Nathalie Sarraute fit des études de droit et...       0     746
303    1923. Durant l'été, Nathalie fait l'ascension ...       0     613
304    Se détourner de l'objet. Se fixer sur l'humain...       0     572
...                                                  ...     ...     ...
18349  Lui, comme il est prudent. Comme il se tient e...       0     189
18350  Parfois, incapable de le contenir, il le laiss...       0     187
18351  Immobile comme une grosse araignée dans sa toi...       0     187
18352  Mais le masque ne se laisse pas faire. Il ne s...       0     183
18353  Ils étaient, épars à travers le monde, des poi...       0     178

[2874 rows x 3 columns]

In [12]:
data = data[["text","author"]]

In [13]:
data

                                                    text  author
300    1907. Son père quitte Ivanovo pour aller à Par...       0
301    1 Cette didascalie n'était ni dans l'édition p...       0
302    6 Nathalie Sarraute fit des études de droit et...       0
303    1923. Durant l'été, Nathalie fait l'ascension ...       0
304    Se détourner de l'objet. Se fixer sur l'humain...       0
...                                                  ...     ...
18349  Lui, comme il est prudent. Comme il se tient e...       0
18350  Parfois, incapable de le contenir, il le laiss...       0
18351  Immobile comme une grosse araignée dans sa toi...       0
18352  Mais le masque ne se laisse pas faire. Il ne s...       0
18353  Ils étaient, épars à travers le monde, des poi...       0

[2874 rows x 2 columns]

## Déterminer X et y

In [ ]:
X = data["text"].to_numpy()
y = data["author"].to_numpy()

### Sauvegarder X et y pour les utiliser plus tard

In [44]:
import joblib

joblib.dump(X_pad,"X.pkl")
joblib.dump(y,"y.pkl")

['y.pkl']

## Tokenizer et pader la data

In [27]:
### Let's tokenize the vocabulary 
tk = Tokenizer()

tk.fit_on_texts(X)

vocab_size = len(tk.word_index)

print(f'There are {vocab_size} different words in your corpus')

There are 30063 different words in your corpus

In [28]:
X_token = tk.texts_to_sequences(X)

In [36]:
### Pad your inputs
X_pad = pad_sequences(X_token, dtype='float64', padding='post')


print("X_pad.shape", X_pad.shape)
X_pad

X_pad.shape (2874, 1852)

array([[8.3020e+03, 2.9000e+01, 1.5900e+02, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [6.4600e+02, 5.7000e+01, 1.0969e+04, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [1.5741e+04, 2.8100e+02, 3.7300e+02, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       ...,
       [9.4000e+02, 3.3000e+01, 1.5000e+01, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.4000e+01, 5.0000e+00, 1.8270e+03, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [5.0000e+01, 1.2200e+02, 1.0872e+04, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00]])

In [35]:
### Let's build the Neural network now
from tensorflow.keras import layers, Sequential

## Construire le model

### GRU

In [40]:
# Size of your embedding space = size to represent each word
embedding_size = 100

model = Sequential()

model.add(layers.Embedding(
    input_dim=vocab_size+1, # 16 +1 for the 0 padding
    input_length=1852, # Max_sentence_length (optional, for model summary)
    output_dim=embedding_size,# 100
    mask_zero=True, # Included masking layer :)
))

model.add(layers.GRU(64,return_sequences= True))
model.add(layers.GRU(64))
model.add(layers.Dense(1, activation="sigmoid"))
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, 1852, 100)         3006400
_________________________________________________________________
gru_2 (GRU)                  (None, 1852, 64)          31872
_________________________________________________________________
gru_3 (GRU)                  (None, 64)                24960
_________________________________________________________________
dense (Dense)                (None, 1)                 65
=================================================================
Total params: 3,063,297
Trainable params: 3,063,297
Non-trainable params: 0
_________________________________________________________________

In [41]:
model.compile(loss='binary_crossentropy',
              optimizer='rmsprop',
              metrics=['accuracy'])

In [43]:
model.fit(X_pad, y, epochs=2, batch_size=64, verbose=1)

Epoch 1/2
45/45 [==============================] - 147s 3s/step - loss: 0.5920 - accuracy: 0.6545
Epoch 2/2
45/45 [==============================] - 131s 3s/step - loss: 0.1530 - accuracy: 0.9485

### LSMT

In [ ]:
# Size of your embedding space = size to represent each word
embedding_size = 100

model = Sequential()

model.add(layers.Embedding(
    input_dim=vocab_size+1, # 16 +1 for the 0 padding
    input_length=1852, # Max_sentence_length (optional, for model summary)
    output_dim=embedding_size,# 100
    mask_zero=True, # Included masking layer :)
))

model.add(layers.LMST(64,return_sequences= True))
model.add(layers.LMST(64))
model.add(layers.Dense(1, activation="sigmoid"))


print(model.summary())


model.compile(loss='binary_crossentropy',
              optimizer='rmsprop',
              metrics=['accuracy'])

model.fit(X_pad, y, epochs=2, batch_size=64, verbose=1)